.preply-works {
  margin-top: 122px;
  @media screen and (max-width: 900px) {
    .boxes {
      @media screen and (max-width: 900px) {
        display: flex;
        justify-content: space-around;
        margin-left: 20px;
        .ellipse {
          @media screen and (max-width: 900px) {
            margin-top: 0px;
          }
          margin-top: 100px;
          width: 330px;
        }
      }
    }
  }
  h1 {
    margin-bottom: 20px;
  }

  .ellipse-1 {
    @media screen and (max-width: 900px) {
      display: none;
    }
    display: flex;
    margin-right: 40px;
    margin-bottom: 45px;
    .line {
      width: 120px;
      height: 7px;
      background-color: #5279d0;
      margin-top: 10px;
      border-radius: 5px;
    }
    .circle {
      border-radius: 50%;
      background-color: #5279d0;
      width: 27px;
      height: 27px;
      margin: 0px 5px;
    }
  }
  .ellipse-2 {
    @media screen and (max-width: 900px) {
      display: none;
    }
    display: flex;
    margin-right: 40px;
    margin-bottom: 45px;

    .line {
      width: 120px;
      height: 7px;
      background-color: #02cccc;
      margin-top: 10px;
      border-radius: 5px;
    }
    .circle {
      border-radius: 50%;
      background-color: #02cccc;
      width: 27px;
      height: 27px;
      margin: 0px 5px;
    }
  }
  .ellipse-3 {
    @media screen and (max-width: 900px) {
      display: none;
    }
    display: flex;
    margin-right: 40px;
    margin-bottom: 45px;

    .line {
      width: 120px;
      height: 7px;
      background-color: #ff8a00;
      margin-top: 10px;
      border-radius: 5px;
    }
    .circle {
      border-radius: 50%;
      background-color: #ff8a00;
      width: 27px;
      height: 27px;
      margin: 0px 5px;
    }
  }
  .ellipse-4 {
    @media screen and (max-width: 900px) {
      display: none;
    }
    display: flex;
    margin-right: 20px;
    border-radius: 5px;
    margin-bottom: 45px;

    .line {
      width: 120px;
      height: 7px;
      background-color: #d523cd;
      margin-top: 10px;
    }
    .circle {
      border-radius: 50%;
      background-color: #d523cd;
      width: 27px;
      height: 27px;
      margin: 0px 5px;
    }
  }
}
.boxes {
  display: flex;
  margin-top: 30px;
  .box {
    display: flex;
    padding: 10px;
    padding-right: 30px;
    margin-right: 15px;
    border-radius: 10px;

    background-color: rgba(219, 219, 219, 0.2);
    @media screen and (max-width: 900px) {
      background-color: white;
    }
    .fa-solid {
      font-size: 30px;
      height: 50px;
      margin-right: 10px;
      margin-top: 0px;
      border-radius: 10px;
      padding: 10px;
    }
    .fa-magnifying-glass {
      color: #5279d0;
      background-color: rgba(82, 121, 208, 0.17);
    }
    .fa-plus {
      color: #00b5b5;
      background-color: #02cccc40;
    }
    .fa-book-open {
      color: #ff8a00;
      background-color: #ff8a0040;
    }
    .fa-align-left {
      color: #d423cd;
      background-color: #d423cd36;
    }
    p {
      font-size: 25px;
      font-weight: 100;
      @media screen and (max-width: 900px) {
        display: none;
      }
    }
  }
}